{{ monsters |safe }}

<table>
    <tr>
        <td>
            coins : {{ coins }}<br/>
            {% if active %} Active {% else %} Waiting {% endif %}
        </td>
        <td>
            new monster : {{ costs.0 }} <br/>
            free kill   : {{ costs.1 }} <br/>
            opposed kill : {{ costs.2 }} <br/>
            direct kill : {{ costs.3 }}
        </td>
    <td>
        <table>
            <tr><td>terra </td><td> {{ classic|safe }} </td></tr>
            <tr><td>divine </td><td>  {{ spiritual|safe }} </td></tr>
            <tr><td>aether </td><td>  {{ cosmic|safe }} </td></tr>
            <tr><td>balance </td><td>  {{ intern|safe }}</td></tr>
        </table>
    </td>
    </tr>
</table>