{{ monsters |safe }}

<table>
    <tr>
        <td>
            coins : {{ coins }}<br/>
            {% if active %} Active {% else %} Waiting {% endif %}
        </td>
        <td>
            new monster : {{ costs.0 }} <br/>
            free kill   : {{ costs.1 }} <br/>
            opposed kill : {{ costs.2 }} <br/>
            direct kill : {{ costs.3 }}
        </td>
        <td>
            terra : {{ classic }}/4 <br/>
            divine : {{ spiritual }}/4 <br/>
            aether : {{ cosmic }}/4 <br/>
            balance : {{ intern }}/4
        </td>
    </tr>
</table>